 .u-section-1 {
  background-image: url("images/r.jpg");
  background-position: 50% 50%;
  min-height: 573px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 14px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 572px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 5.875rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 113px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  width: 201px;
  margin: 5px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-1 .u-image-1 {
  min-height: 572px;
  background-image: url("images/df-min.jpg");
  background-position: 7.83% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 0 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 372px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 75px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 469px;
    background-position: 7.22% 50%;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 76px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 409px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-2 {
    width: 288px;
    margin-top: 20px;
  }

  .u-section-1 .u-image-1 {
    min-height: 560px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 217px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 62px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-image-1 {
    min-height: 353px;
    background-position: 100% 0%;
  }
} .u-section-2 {
  background-image: linear-gradient(white, #404040);
}

.u-section-2 .u-sheet-1 {
  min-height: 807px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 395px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.25rem;
  font-family: Poppins;
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  margin-left: 0;
  margin-right: 0;
  letter-spacing: 0px;
  margin-top: 20px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 383px;
}

.u-section-2 .u-container-layout-2 {
  padding: 3px 12px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 46px 6px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 6px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.625rem;
  margin: 86px 6px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 383px;
}

.u-section-2 .u-container-layout-3 {
  padding: 3px 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 46px 21px 0 10px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 20px 20px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 0.625rem;
  margin: 34px 20px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 778px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 420px;
  height: 420px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 6px 0 0 auto;
}

.u-section-2 .u-group-1 {
  min-height: 262px;
  width: 470px;
  background-image: linear-gradient(black, white);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -147px auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-2 .u-icon-1 {
  height: 52px;
  width: 52px;
  margin: 25px auto 0 10px;
  padding: 10px;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -18px 14px 0 26px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 418px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    font-family: Poppins;
    margin-top: 19px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 19px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 63px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 424px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    font-family: Poppins;
    margin-top: 19px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 11px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 842px;
  }

  .u-section-2 .u-image-1 {
    object-position: 99.71% 50%;
    background-position: 99.71% 50%;
    filter: brightness(0.9);
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-10 {
    margin-right: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1542px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 8px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 493px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 106px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 35px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 493px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 97px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 43px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 868px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 327px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 608px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -67px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 6px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(#404040, #e5e5e5);
}

.u-section-3 .u-sheet-1 {
  min-height: 599px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 0 1px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 598px;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px 30px;
}

.u-section-3 .u-group-1 {
  width: 405px;
  min-height: 478px;
  background-image: linear-gradient(black, white);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 50px 40px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 59px 3px 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 29px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 56px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 598px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  min-height: 295px;
  background-image: url("images/texture.png");
  background-position: 50% 50%;
  width: 440px;
  margin: 187px 1px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-group-3 {
  width: 220px;
  min-height: 410px;
  background-image: linear-gradient(black, white);
  margin: -481px auto 0 31px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 450px;
  height: 342px;
  object-position: 100% 50%;
  background-position: 100% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -380px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 7px 37px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 132px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 59px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 493px;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 410px;
    height: 312px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-1 {
    min-height: 392px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 48px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 49px;
    margin-right: auto;
    margin-left: 6px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 64px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
  }

  .u-section-3 .u-image-2 {
    width: 300px;
    height: 228px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    min-height: 398px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -9px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 567px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 491px;
  }

  .u-section-3 .u-group-1 {
    min-height: 431px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: 240px;
    margin-top: 84px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 50px;
    margin-left: 26px;
    margin-right: 26px;
    font-size: 1.875rem;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 50px;
    margin-left: auto;
    padding: 9px 20px 10px 19px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 357px;
  }
} .u-section-4 {
  background-image: url("images/max1200.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 205px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  width: 680px;
  text-shadow: 10px 2px 8px rgba(0,0,0,0.8);
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 70px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 203px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }
} .u-section-5 {
  background-image: linear-gradient(white, #404040);
}

.u-section-5 .u-sheet-1 {
  min-height: 532px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 499px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-5 .u-image-1 {
  height: 283px;
  width: 283px;
  background-image: url("images/Untitled-1.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 2px;
  font-family: Poppins;
  margin: 30px 30px 0;
}

.u-section-5 .u-text-2 {
  background-image: none;
  font-style: normal;
  margin: 8px 30px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 501px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 25px 28px;
}

.u-section-5 .u-image-2 {
  height: 283px;
  width: 283px;
  background-image: url("images/5529d532-731f-ec3f-ca2f-217bcb52a64f.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 2px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  margin: 30px 19px 0;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  margin: 8px 30px 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 499px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 25px 28px;
}

.u-section-5 .u-image-3 {
  height: 283px;
  width: 283px;
  background-image: url("images/group-athletic-people-exercising-with-fitness-strap-health-cub_23-2147949526.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 2px;
  font-family: Poppins;
  font-weight: normal;
  margin: 30px 30px 0;
}

.u-section-5 .u-text-6 {
  font-style: italic;
  margin: 8px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 411px;
  }

  .u-section-5 .u-image-1 {
    height: 253px;
    width: 253px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 538px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-5 .u-image-2 {
    height: 253px;
    width: 253px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -38px;
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 411px;
  }

  .u-section-5 .u-image-3 {
    height: 253px;
    width: 253px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    height: 180px;
    width: 180px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    height: 180px;
    width: 180px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-3 {
    height: 180px;
    width: 180px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 260px;
    width: 260px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 260px;
    width: 260px;
  }

  .u-section-5 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 260px;
    width: 260px;
  }

  .u-section-5 .u-text-5 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: 30px;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-4 {
    margin-top: 0;
    margin-bottom: -38px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 512px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 28px;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
  }
} .u-section-6 {
  background-image: linear-gradient(#404040, white);
}

.u-section-6 .u-sheet-1 {
  min-height: 550px;
}

.u-section-6 .u-gallery-1 {
  height: 545px;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px 20px;
  width: 1240px;
  margin: 0 -50px 5px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
}

.u-section-6 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-1 {
  object-position: 50% 51.46%;
}

.u-section-6 .u-over-slide-1 {
  min-height: 100px;
  padding: 29px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
}

.u-section-6 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-2 {
  object-position: 50% 0%;
}

.u-section-6 .u-over-slide-2 {
  min-height: 100px;
  padding: 29px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
}

.u-section-6 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-3 {
  object-position: 50.78% 50%;
}

.u-section-6 .u-over-slide-3 {
  min-height: 100px;
  padding: 29px;
}

.u-section-6 .u-carousel-item-4 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
}

.u-section-6 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-4 {
  object-position: 50% 100%;
}

.u-section-6 .u-over-slide-4 {
  min-height: 100px;
  padding: 29px;
}

.u-section-6 .u-carousel-item-5 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
}

.u-section-6 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-5 {
  object-position: 50% 1.15%;
}

.u-section-6 .u-over-slide-5 {
  min-height: 100px;
  padding: 29px;
}

.u-section-6 .u-carousel-item-6 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
}

.u-section-6 .u-back-slide-6 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-6 {
  object-position: 50% 72.15%;
}

.u-section-6 .u-over-slide-6 {
  min-height: 100px;
  padding: 29px;
}

.u-section-6 .u-carousel-item-7 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
}

.u-section-6 .u-back-slide-7 {
  background-position: 50% 50%;
}

.u-section-6 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-6 .u-over-slide-7 {
  min-height: 100px;
  padding: 29px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 56px;
  height: 56px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  width: 56px;
  height: 56px;
  left: auto;
  top: 235px;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-gallery-1 {
    width: 1040px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-gap: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-gallery-1 {
    grid-template-columns: auto auto auto;
    width: 820px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-gallery-1 {
    grid-template-columns: auto auto;
    width: 640px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-6 .u-gallery-1 {
    grid-template-columns: auto;
    width: 440px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, black, white);
}

.u-section-7 .u-sheet-1 {
  min-height: 700px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  width: 719px;
  margin: 25px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  width: 760px;
  margin: 27px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: 37px auto 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 322px;
  background-image: linear-gradient(black, white);
}

.u-section-7 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  padding: 14px 19px;
}

.u-section-7 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 15px auto 0;
  padding: 9px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  margin: 17px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: normal;
  margin: 16px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 339px;
  background-image: linear-gradient(black, white);
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 19px;
}

.u-section-7 .u-icon-2 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  padding: 10px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 27px 0 0;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  background-image: none;
  font-size: 1.125rem;
  text-decoration: underline !important;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 16px auto 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 339px;
  background-image: linear-gradient(black, white);
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 19px;
}

.u-section-7 .u-icon-3 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  padding: 2px;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-7 .u-text-7 {
  font-size: 1.125rem;
  width: 159px;
  margin: 17px auto 0;
}

.u-section-7 .u-btn-4 {
  border-style: solid;
  background-image: none;
  margin: 16px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-7 .u-text-1 {
    width: 489px;
  }

  .u-section-7 .u-text-2 {
    width: 628px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-7 .u-btn-2 {
    align-self: center;
    margin-top: 13px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 17px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 329px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 13px;
  }

  .u-section-7 .u-btn-4 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-btn-2 {
    font-size: 1rem;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-text-7 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-btn-2 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-7 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}