 .u-section-1 {
  background-image: linear-gradient(white, black);
}

.u-section-1 .u-sheet-1 {
  min-height: 1665px;
}

.u-section-1 .u-shape-1 {
  background-image: linear-gradient(white, black);
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 142px auto 0 30px;
}

.u-section-1 .u-group-1 {
  width: 1098px;
  background-image: none;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 60px;
  margin: 12px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: -32px 35px 0 62px;
}

.u-section-1 .u-group-2 {
  height: 61px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1098px;
  min-height: 61px;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 19px;
}

.u-section-1 .u-icon-2 {
  width: 40px;
  height: 40px;
  margin: 10px auto 0 10px;
}

.u-section-1 .u-text-3 {
  margin: -31px 20px 0 72px;
}

.u-section-1 .u-group-3 {
  height: 60px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1098px;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 68px;
  background-image: none;
  margin: -5px 0 0 819px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-icon-3 {
  width: 40px;
  height: 40px;
  margin: -51px auto 0 26px;
}

.u-section-1 .u-text-4 {
  margin: -33px 279px 0 92px;
}

.u-section-1 .u-group-4 {
  height: 60px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1098px;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 3px 30px;
}

.u-section-1 .u-icon-4 {
  width: 40px;
  height: 40px;
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: -31px 50px 0 66px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-group-5 {
  height: auto;
  background-image: none;
  width: 1098px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 60px;
  margin: 13px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-icon-5 {
  width: 31px;
  height: 31px;
  margin: 13px auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: -25px 57px 0;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 12px auto 0 30px;
}

.u-section-1 .u-group-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1098px;
  height: 60px;
  margin: 13px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 0;
}

.u-section-1 .u-icon-6 {
  width: 40px;
  height: 40px;
  margin: 5px auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: -26px 40px 0 62px;
}

.u-section-1 .u-group-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: 61px;
  width: 1098px;
  margin: 10px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 20px;
}

.u-section-1 .u-icon-7 {
  width: 40px;
  height: 40px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: -30px 41px 0 66px;
}

.u-section-1 .u-group-8 {
  background-image: linear-gradient(#999999, black);
  min-height: 770px;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  height: auto;
  width: 1098px;
  margin: 37px auto 60px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 30px;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  font-weight: 700;
  width: 225px;
  margin: 22px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  width: 512px;
  margin: 46px auto 0;
}

.u-section-1 .u-form-2 {
  height: 322px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 528px;
  margin: 26px auto 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1664px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 29px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 30px;
    margin-left: 109px;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 20px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-1 .u-group-3 {
    width: 940px;
    min-height: 60px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -4px;
    margin-left: 746px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -54px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -32px;
    margin-right: 174px;
    margin-left: 101px;
  }

  .u-section-1 .u-group-4 {
    width: 940px;
    min-height: 60px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 10px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: -10px;
    margin-left: 112px;
  }

  .u-section-1 .u-group-5 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-icon-5 {
    width: 40px;
    height: 40px;
    margin-top: 9px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -31px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-1 .u-group-6 {
    width: 940px;
    min-height: 60px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 8px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -29px;
    margin-right: 0;
    margin-left: 93px;
  }

  .u-section-1 .u-group-7 {
    width: 940px;
    min-height: 60px;
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 29px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -31px;
    margin-right: 0;
    margin-left: 109px;
  }

  .u-section-1 .u-group-8 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1653px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 406px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 80px;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 12px;
    margin-left: 534px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -56px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -31px;
    margin-right: 533px;
    margin-left: 93px;
  }

  .u-section-1 .u-group-4 {
    width: 720px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 102px;
  }

  .u-section-1 .u-group-5 {
    width: 720px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 90px;
  }

  .u-section-1 .u-group-6 {
    width: 720px;
  }

  .u-section-1 .u-group-7 {
    width: 720px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -30px;
    margin-right: 5px;
    margin-left: 84px;
  }

  .u-section-1 .u-group-8 {
    width: 720px;
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 315px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 340px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -67px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 443px;
    margin-left: 3px;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 11px;
    margin-left: 91px;
  }

  .u-section-1 .u-group-5 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 14px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 87px;
  }

  .u-section-1 .u-group-6 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -28px;
    margin-right: 61px;
    margin-left: 77px;
  }

  .u-section-1 .u-group-7 {
    width: 540px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -31px;
    margin-right: 116px;
    margin-left: 83px;
  }

  .u-section-1 .u-group-8 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-2 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 9px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -30px;
    margin-right: 14px;
    margin-left: 76px;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 12px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 8px;
    margin-left: 72px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 0;
    margin-left: 191px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -63px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -34px;
    margin-right: 170px;
    margin-left: 80px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 22px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 18px;
    margin-left: 84px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 7px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 30px;
    margin-left: 66px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 3px;
    margin-left: 71px;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 8px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 34px;
    margin-left: 73px;
  }

  .u-section-1 .u-group-8 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-12 {
    width: 320px;
  }

  .u-section-1 .u-form-2 {
    width: 320px;
  }
}